* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



/* inicio do header */

header {
    background-color: rgb(81, 81, 228);
    padding: 70px;
    display: flex;
    justify-content: end;
}

header nav ul {
    /*estilizando a lista não ordenada do header*/
    display: flex;
    /*dxa a sessão flex, clc os ngc lado a lado*/
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    /*cor da letra*/
    text-decoration: none;
    /*tira o sublinhado*/
    font-size: 15px;
    /*tamanho da letra*/
    margin-left: 15px;
    /*espaçamento entre as lista*/
}


header li a:hover {
    /*muda o ngc qndo passa o mouser*/
    color: black;
    /*cor p qndo passar o mouse*/
    transition: 1s;
    /*transição*/
}

/* fim do header */









.sessão-1 {
    /*estilizando a primeira sessão*/
    padding: 200px;
    /*preenchimento da sessão*/
    background: linear-gradient(180deg, #c0cdcf 8.33%, rgba(90, 168, 168) 100%);
    /*degrade*/
}


.sessão-1 h1 {
    /*título da primeira sessão*/
    color: rgb(51, 45, 45);
    /*cor da letra*/
    font-size: 40px;
    /*tamanho da letra*/
    font-weight: 700;
    /*dxa tipo em negrito*/
}


.sessão-1 p {
    /*estilizando o paragráfo*/
    margin-top: 10px;
    /*espaçamento superior*/
    margin-bottom: 10px;
    /*espaçamento inferior*/
    font-size: 30px;
    /*tamanho da letra*/

}


.sessão-1 button {
    /*estilização do butão da primeira sessão*/
    width: 300px;
    /*largura do botão*/
    height: 50px;
    /*altura do botão*/
    border-radius: 50px;
    /*preenchimento da borda*/
    border-color: rgb(255, 255, 255);
    /*cor do botão*/
    margin: 30px;
}


.sessão-1 button:hover {
    /*aplicando o hover no botão*/
    color: white;
    /*cor da letra*/
    transition: 1s;
    /*tempo de transição*/
    background-color: rgb(17, 165, 175);
    /*alterando a cor de fundo*/
    border-color: white;
    /*cor da letra ao passar o mouse*/
}






/*inicio da sessão-2*/


.sessão-2 {
    /*estilização da sessão-2*/
    padding: 200px;
    /*preenchimento da sessão*/
    background-color: rgb(226, 233, 233);
    display: flex;
    /*tornando a sessão flex*/
    justify-content: space-evenly;
    /*alinhamento na horizontal */
    align-items: center;
    /*alinhamento da vertical*/
}

.sessão-2 div img {
    /*estilizando a imagem da sessão-2*/
    width: 300px;
    /*largura da imagem*/
    margin-top: -60px;
    height: auto;
    /*altura automatica da imagem*/
    margin-left: 20px;
}

.sessão-2 p {
    font-size: 40px;
    font-weight: 500;
    color: black;
}

.sessão-2 div a button {
    width: 300px;
    /*largura do botão*/
    height: 50px;
    /*altura do botão*/
    border-radius: 50px;
    /*preenchimento da borda*/
    border-color: rgb(255, 255, 255);
    /*cor do botão*/
    margin: 30px;
}


.sessão-2 div a button:hover {
    /*aplicando o hover no botão*/
    color: rgb(255, 255, 255);
    /*cor da letra*/
    transition: 1s;
    /*tempo de transição*/
    background-color: rgb(0, 0, 0);
    /*alterando a cor de fundo*/
    border-color: rgb(255, 255, 255);
    /*cor da letra ao passar o mouse*/
}

/* fim da sessão-2 */



.sessão-3 {
    padding: 180px;
    /*preenchimento da sessão*/
    background-color: rgb(226, 233, 233);
    /*cor de fundo*/
}


.sessão-3 h2 {
    /*estilização do subtitulo*/
    font-size: 35px;
    /*tamanho da letra*/
    color: rgb(0, 0, 0);
    /*cor da letra*/
    text-align: center;
    /*alinhamento ao centro*/
    margin-top: -140px;
    /*espaçamento em relação a sessão de cima*/
}


.sessão-3 p {
    /*estilização do paragráfo*/
    font-size: 25px;
    /*tamanho da letra*/
    margin-top: 20px;
    /*margem superior*/
    color: rgb(0, 0, 0);
    /*cor da letra*/
    text-align: center;
    /*alinhamento ao centro*/
}


.sessão-3 a button {
    /*estilização do botão*/
    padding: 20px;
    /*preenchimento do botão*/
    width: 200px;
    /*largura do botão*/
    height: 50px;
    /*altura do botão*/
    border-radius: 50px;
    /*preenchimento da borda do botão*/
    border-color: white;
    /*cor da borda do botão*/
    color: black;
    /*cor da letra*/
    margin: 30px;
    /*margin superior*/
    margin-bottom: 40px;
    /* margin inferior*/
    font-size: 15px;
    /*tamanho da letra*/
    cursor: pointer;
}


.sessão-3 a button:hover {
    color: rgb(255, 255, 255);
    /*cor da letra*/
    transition: 1s;
    /*tempo de transição*/
    background-color: rgb(0, 0, 0);
    /*alterando a cor de fundo*/
    border-color: rgb(255, 255, 255);
    /*cor da letra ao passar o mouse*/
}


.line {
    /*estilização da linha*/
    width: 70px;
    /*tamanho da linha*/
    margin: 40px auto;
    /*espaçamento de 40px top e buttom e esquerda e direita automaticas*/
    /*qndo clc só um valor no margin, ele ta sendo atribuido para todos os lados*/

}


.sessão-3 img {
    /*estilização da imagem*/
    text-align: center;
    /*alinhamento ao centro*/
    justify-content: center;
    width: 700px;
    margin-top: 200px;
    margin-left: 200px;
    /*espaçamento da esquerda*/

    /*(IREMOS ALTERAR A FORMATAÇÃO DE ALINHAMENTO)*/

}








.sessão-4 {
    padding: 200px;
    background: linear-gradient(180deg, rgba(95, 132, 212, 0.793), 100%, rgb(8, 79, 233) 15%),
        /**/
        url(imagens/img\ cofre\ fundo.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.sessão-4 img {
    width: 300px;
    margin-right: 100px;
}


.sessão-4 h2 {
    /*estilizando o subtitulo da sessão*/
    color: black;
    /*cor da letra*/
    font-size: 30px;
    /*tamanho da letra*/
    margin-left: 10px;
    margin-bottom: 30px;
    text-align: center;
}


.sessão-4 p {
    font-size: 25px;
    color: rgb(0, 0, 0);
    margin-left: 25px;
    font-size: 25px;
}

.sessão-4 h2 span {
    color: rgb(255, 231, 12);
    font-weight: 600;
}






footer {
    padding: 140px;
    background-color: rgba(20, 15, 15, 0.834);
    text-align: center;

}

.div.footer01 {
    display: flex;
    justify-content: space-between;
}

.div.footer01 a {
    text-decoration: none;
    color: antiquewhite;
}

.div.footer01 a:hover {
    color: blue;
    transition: 1s;
}

footer img {
    width: 200px;
    height: auto;
    margin-top: 5px;
    margin-bottom: 20px;
}

.div.footer01 p {
    text-align: center ;
    color: rgb(0, 0, 0);
    font-size: 20px;
}